# Node modules
node_modules/

# OS files
.DS_Store

# Build artifacts
file_manifest.txt
phet-dirs.tar

# These directories are not excluded
# They are necessary for the simulation to run
# assert/
# axon/
# babel/
# brand/
# dot/
# joist/
# kite/
# perennial-alias/
# phet-core/
# phetcommon/
# phetmarks/
# query-string-machine/
# scenery-phet/
# scenery/
# sherpa/
# sun/
# tambo/
# tandem/
# twixt/
# utterance-queue/ 