# Node modules
node_modules/

# Embedded repositories (except charges-and-fields)
assert/
axon/
babel/
brand/
dot/
joist/
kite/
perennial-alias/
phet-core/
phetcommon/
phetmarks/
query-string-machine/
scenery-phet/
scenery/
sherpa/
sun/
tambo/
tandem/
twixt/
utterance-queue/

# OS files
.DS_Store 