# nixpacks.toml
# Explicitly use the Node provider
providers = ["node"]

[phases.setup]
# Install Node.js v18 using Nix packages
nixPkgs = ["nodejs_18"]

[phases.build]
# Define the build commands
cmds = ["echo 'Starting build phase...'", "ls -la", "cd charges-fields-lab-app && npm clean-install && chmod +x build.sh && ./build.sh", "echo 'Build phase finished.'"]

[start]
# Define the start command
cmd = "echo 'Starting server...' && cd charges-fields-lab-app && npx serve dist -l 3333 --single --no-clipboard --cors" 